.title-1 {
  margin-bottom: 3rem;

  font-size: 3rem;
  text-align: center;
}

.subtitle {
    margin-bottom: 3rem;

    font-size: 2rem;
    text-align: center;

    span {
        color: $accent-color-second;
    }
}
