//accent color
$accent-color-first: #4678b7;
$accent-color-second: #2d8b40;

//text color
$text-color-light: #FFFFFF;
$text-color-dark: #000000;

//background color
$background-color-light: #FFFFFF;
$background-color-dark: #000000;